{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load common_tags %}

{% block title %}{{ page_title }}{% endblock %}

{% block scripts %}
{{form.media}}
{% endblock %}

{% block references %}
<style type="text/css">
  .attendance-field {
    display: inline-block;
  }
</style>
{% endblock %}

{% block content %}
<h2>Semi-Annual Training {{ term }}</h2>
<h2>{{ page_title }}</h2>

<form id="id_attendance_form" action="" method="post">
  {% csrf_token %}
  {% bootstrap_field form.location %}
  {% for field in form %}
    {% if forloop.counter0 > 0 %}
    <span class="attendance-field">{{field.label}}:
    {% for c in field %}
      {{c}}
    {% endfor %}
    </span><br>
    {% endif %}
  {% endfor %}
  <button type="submit" class="btn btn-primary btn-save" id="submit">{{button_label|safe}}</button>
</form>
{% endblock %}
